<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('includes/head') %>
    </head>

    <body>
        <%- include('includes/header') %>
        <%- include('includes/side-drawer') %>
        <main>
            <h1>Page not found</h1>
            <p>
                Unfortunately, the page you're trying to reach appears to not exist!
            </p>
        </main>
    </body>

</html>